.card {
    padding: 1em;
    color: blue;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card02 {
    margin-top: 2em;
    padding: 1em;
    color: dimgrey;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.btn {
    flex: 1;
    color: black;
    font-size: 20px;
    background-color: blue;
    border: none;
    border-radius: 4px;
}

.btn:active {
    background-color: black;
    color: white;
}